<%-include("./partials/navbar.ejs")%>
<div class="l">
  <div class="post-container">
    <h1 class="post-title bungee-tint-regular">
      <%= locals.post.title %>
    </h1>
    <img src="<%= 'https://cdn.pixabay.com/photo/2024/01/29/22/47/ai-generated-8540915_640.jpg' %>" alt="<%= locals.post.title %>" class="cover-image">
    <p class="post-author">By <%= locals.post.author.name %> | <%= new Date(locals.post.createdAt).toLocaleDateString() %>
    </p>
    <div class="post-content">
      <%= locals.post.content %>
    </div>

    <div class="post-tags">
      <h3>Tags:</h3>
      <% locals.post.tags.forEach(tag=> { %>
        <span class="tag">
          <%= tag %>
        </span>
        <% }) %>
    </div>

    <div class="post-stats">
      <span>
        <%= locals.post.views %> views
      </span> |
      <span>
        <%= locals.post.likes.length %> likes
      </span>
    </div>

    <div class="comments-section">
      <h3>Comments (<%= locals.post.comments.length %>)</h3>
      <ul>
        <% locals.post.comments.forEach(comment=> { %>
          <li>
            <strong>
              <%= "Kehinde" %>:
            </strong>
            <%= locals.comment %>
              <br><span class="comment-date">
                <%= "Today" %>
              </span>
          </li>
          <% }) %>
      </ul>
    </div>
  </div>
</div>

<footer>
  <p>&copy; <%= new Date().getFullYear() %> MyBlog. All rights reserved.</p>
</footer>