<%- include('./partials/navbar') %>
  <main>
    <div class="post-list">
      <% posts.forEach(post=> { %>
        <div class="post-preview">
          <img src="'../uploads/'<%=post.coverImage%>" alt="img" class="post-thumbnail">
          <h2 style="background-color: red;">
            <%= post.title %>
          </h2>
          <p class="post-author">By <%= "Kehinde" %> | <%= new Date(post.createdAt).toLocaleDateString() %>
          </p>
          <p class="post-excerpt">
            <%= post.content.substring(0, 150) %>...
          </p>
          <a href="/post/<%= post._id %>" class="read-more">Read More</a>
        </div>
        <% }) %>
    </div>
  </main>

  <footer>
    <p>&copy; <%= new Date().getFullYear() %> MyBlog. All rights reserved.</p>
  </footer>